service cloud.firestore {
  match /databases/{database}/documents {
    match /syncRooms/{syncId} {
      allow get, write: if true;

      match /qsls/{children=**} {
        allow read, write: if true;
      }
    }
  }
}
