.dialog {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #1e1e1e55;
  z-index: $Z-DIALOG;

  & &-content {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: calc(100vh - 8rem);
    width: calc(100vw - 6rem);
    background: white;
    padding: 1rem 2rem;
  }
}

.sync.dialog {
  button {
    margin: 0.5rem;
    margin-top: 1rem;
    width: calc(50% - 1rem);
    appearance: none;
    background: none;
    border: 1px solid;
    border-radius: 2px;

    &:hover {
      box-shadow: 2px 2px #1e1e1e55;
    }
  }

  @include desktop {
    #sync-room-id {
      width: 24rem;
    }
  }
}