input {
  background: inherit;
  appearance: none;

  @include desktop {
    margin: 0.1rem;
  }

  @include mobile {
    margin-top: 0.2rem;
  }

  &[type=text], &[type=number] {
    appearance: none;
    border: none;
    border-bottom: solid 2px;
    margin-top: 0.2rem;
    text-align: center;

    &::placeholder {
      text-align: center;
    }
  }

  &:invalid {
    outline: dashed 2px red;
  }
}

select {
  appearance: menulist;
  border: none;
  background: none;
  border-bottom: solid 2px;
  text-align: center;
  min-width: 3rem;
  margin-left: 0.5rem;
  position: relative;
}

#qsl-form {
  position: fixed;
  bottom: 0;
  max-height: calc(100vh - 1.2rem);
  z-index: $Z-FLOW;
  width: calc(100vw - 2.2rem);
  margin: 0;
  padding: 0.5rem 1rem;
  background: $background-color;
  border: solid 0.1rem #b5b5c5;
  overflow: auto;

  .close-form-mobile {
    @include desktop {
      display: none;
    }

    @include mobile {
      appearance: none;
      background: lightskyblue;
      border: solid 2px darkblue;
      left: 0;
      width: calc(100% - 4px);
      font-size: 16px;
      margin-top: 0.5rem;
    }
  }

  input {
    font-size: 16px;

    @include mobile {
      &[type=submit] {
        left: 0;
        width: calc(100% - 4px);
        border: solid 2px darkblue;
        background: lightskyblue;

        &:hover {
          box-shadow: 2px 2px 1px 1px rgba(36, 36, 36, 0.7);
          outline: none;
        }
      }
    }

    @include desktop {
      &[type=submit] {
        display: none;
      }
    }
  }

  .radio {
    margin: 0.2rem 1rem;
    width: calc(100% - 2rem);

    @include mobile {
      display: flex;
      justify-content: space-between;
      flex-flow: column nowrap;
    }
    @include desktop {
      display: grid;
      grid-template-rows: 50% 50%;
      grid-template-columns: 25% 25% 25% 25%;
    }
  }

  .rad-freq-mode {
    width: 100%;
    display: flex;
    justify-content: center;

    input {
      max-width: 60%;
    }
  }

  .remarks {
    width: 100%;
    margin-top: 0.2rem;
  }
}