@import "utils";

.table-wrapper {
  width: 100%;
  overflow: auto;
}

.qsl-table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 3px gray;
  font-size: 80%;
  @include noselect;

  @include desktop {
    width: calc(100% - 1rem);
    margin-left: 0.5rem;
  }

  caption {
    font-size: 18px;
  }

  tbody {
    tr {
      text-align: center;
    }

    .qsl-row {
      cursor: pointer;

      input {
        width: calc(100% - 1rem);
        text-transform: uppercase;
        &::placeholder {
          text-transform: none;
        }
      }
      &.errored {
        outline: dashed 4px red;
      }

      &:nth-child(even) {
        > :nth-child(even) {
          background: #90c090;
        }
        > :nth-child(odd) {
          background: #a0e0a0;
        }
      }

      &:nth-child(odd) {
        > :nth-child(even) {
          background: #c0f0c0;
        }
        > :nth-child(odd) {
          background: #e0f0e0;
        }
      }
    }
  }
}

.contextmenu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: $Z-FRONT - 500;
  background: transparent;

  .clicktrap {
    @include desktop {
      position: absolute;
      min-width: 5rem;
      min-height: 5rem;
    }
    @include mobile {
      position: absolute;
      top: 10vh;
      bottom: 10vh;
      top: 10vh;
      bottom: 10vh;
      right: 10vw;
      left: 10vw;
    }
    background: white;
    box-shadow: 2px 2px 2px 2px rgba(32, 32, 32, 0.8);
    z-index: $Z-FRONT;
  }
}