$theme-color: rgb(224, 192, 144) !default;
$theme-color-fore: rgb(30, 30, 30) !default;
$key-color:  rgb(5, 0, 49) !default;
$key-color-fore: rgb(212, 211, 153) !default;
$font-size: 16px !default;
$line-height: 1rem !default;
$nav-width: 24rem !default;
$nav-width-mobile: 100vw !default;
$breakpoints: (
    'mobile': 'screen and (max-width: 960px)',
    'desktop': 'screen and (min-width: 961px)'
) !default;
$grid-circle-radius: 25rem !default;

$Z-BASE: 0 !default;
$Z-FLOW: 2000 !default;
$Z-DIALOG: 4000 !default;
$Z-OVERLAY: 6000 !default;
$Z-FRONT: 8000 !default;
